.hdr {
  display: inline-block;
  margin-right: 1rem;
}

.selected {
  background-color: #008000;
  color: #fff;
}

.divider {
  border: 1px solid #d3d3d3;
  margin: 0.5rem 0;
}

@media screen and (max-width: 30rem) {
  .btn {
    display: block;
    margin-bottom: 0.5rem;
  }
}
