.list {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  flex-wrap: wrap;
}

.listItem {
  display: inline-block;
}

.listItem img {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 75rem) {
  .listItem:last-child {
    display: none;
  }
}

@media screen and (max-width: 30rem) {
  .listItem img {
    height: 150px;
    width: 150px;
  }
}
